# Homework 1 | MSCI:6100

**10 Points**

The questions are based on Module 1 and 2 and assume you are familiar with list and dataframe in Python. If you are not familiar with list and dataframe, please read *List and Dataframe in Python.ipynb* before you start.

## Module 1

**1.a. (0.5 points)** Study the string processing method **count()** in https://www.w3schools.com/python/ref_string_count.asp Then use count() to count the frequency of "great" (case sensitive) in mystr below.

In [1]:
mystr = 'Great movie. great telling based on a trues story. "Miracle on the Hudson."'
# Your answer here:
mystr.count('great')

1

**1.b. (0.5 points)** Use count() and lower() to return the frequency of "great" (case insensitive) in mystr. 

*Hint: mystr.lower() returns a string and a string can be further followed by .count() to count the frequency.*

In [2]:
# Your answer here:
mystr.lower().count('great')

2

**1.c. (1 points)** The following code creates a string variable called **multispace**. Use split() and join() to stripe whitespace in multispace, that is, to substitute all multiple whitespaces with a single whitespace. Overwrite multispace with the stripped string.

*Hint: You can first split the string at whitespace to obtain a list of words. Then you join the words in the list using a whitespace (" ") as separator.*

In [3]:
multispace = "  Believe     you    can    and      you're    halfway there!"
# Your answer here
multispace = multispace.split()
multispace = ' '.join(multispace)
# Check your answer
multispace

"Believe you can and you're halfway there!"

**2.a. (0.5 points)** Load the csv file "classdata/Sully.csv" in IDAS into a dataframe called df. This data contains the IMDB reviews and ratings for the movie "Sully" in 2016. Be careful about the encoding scheme. Show the top five rows of df.

In [4]:
# You answer here
import pandas as pd
df = pd.read_csv('classdata/Sully.csv',encoding='latin-1')
# Check your solution
df.head()

                                             reviews  ratings
0    Great movie. Great telling based on a trues ...       50
1    Good. Fascinating and educational and grippi...       40
2    I like what Eastwood did with the structure....       40
3    A beautiful and powerful film that brings a ...       40
4    Okay I guess, just not a very compelling cha...       25

**2.b. (1 points)** Use your answer in 1.b and **list comprehension** to create a new column called "greatcount" in df which contains the frequency of "great" (case insensitive) in each review.

In [5]:
# You answer here
df['greatcount'] = [s.lower().count('great') for s in df['reviews']]
# Check your answer (in the first 10 rows)
df["greatcount"][0:10]

0    2
1    0
2    0
3    2
4    0
5    0
6    0
7    0
8    0
9    0
Name: greatcount, dtype: int64

**2.c. (1 points)** Sort df by ratings in an descending order. Make the sorting "inplace" and reset the row index after sorting.

In [6]:
# Your answer here
df.sort_values(by = 'ratings',ascending=False,inplace=True)
df.reset_index(inplace=True,drop=True)
# Check your answer
df.head()

                                             reviews  ratings  greatcount
0    Great movie. Great telling based on a trues ...       50           2
1    This movie pays wonderful homage to Captain ...       50           0
2    I just watched this film out of boredom, not...       50           0
3    Great movie!!! Isn't it ridiculous how a her...       50           1
4    (6 out of 6)When we see we must brace for tu...       50           1

**2.d. (1 points)** Select the rows of df where ratings <=30 and greatcount equals 0. Save these rows into a new dataframe called dfnew. Don't forget to use .copy(). Then, reset the row index of dfnew. 

*Hint: Condition "A equals 0" in Python is writtern as "A==0". The conjuction of two boolean conditions is represented as (...) & (...).*

In [7]:
# Your answer here

rowselected = [x <= 30 and y == 0 for x, y in zip(df['ratings'],df['greatcount'])]
dfnew = df[rowselected].copy()
dfnew.reset_index(inplace=True,drop=True)
# Check your answer
dfnew.head()

                                             reviews  ratings  greatcount
0    I start by saying that this isn't the best r...       30           0
1    The story itself is very simple and merciful...       30           0
2                                 3.4/5. 6.8/10.-JDK       30           0
3    Nicely made drama bends the real events into...       30           0
4    brace for impact..SullyOften biographies tak...       30           0

**2.e. (1 points)** Find the longest review in **dfnew** and save the review text as a string variable called **longestreview**. 

*Hint: Create a new column in **dfnew** called **length** which contains the length of each review. Sort **dfnew** by column **length**, reset the row id, and extract the first review text.*

In [8]:
#You answer here
dfnew['length'] = dfnew['reviews'].str.len()
dfnew.sort_values(by = 'length',ascending=False,inplace=True)
dfnew.reset_index(inplace=True,drop=True)
longestreview = dfnew['reviews'][0]
#Check your answer
longestreview

'  I start by saying that this isn\'t the best real-life-based movie I\'ve seen, but this one performs his function of informing people about this extraordinary event: in February 2009, Chelsey Sullemberg, a on the way to retire pilot managed to save more than 150 people by landing on the Hudson river. The film begins with Sully that is considered as a national hero, but he does reject this fame, because he\'s in trouble with the law: computer sims show that he could have landed on near airports without losing any life. But at the court, Sully and his co-pilot and friend Jeff suggest that the 35 secs delay of radio communications should be added to the sims and after that, the computer shows that if Sully hadn\'t landed on the Hudson, the plane would have crashed. As this movie is directed by Clint Eastwood, i expected more. I mean that some flashbacks are too long so the story is in some ways broken. Beside this, Tom Hanks\' acting was convincing and the whole story make sense (trust me, it isn\'t ever like this). So all in all I consider "Sully" an interesting general-culture movie, and I suggest him to guys that have never heard about this extraordinary hero.'

## Module 2

**3.a. (1 points)** Load the csv file "classdata/Sully.csv" again into a dataframe called df. Convert all reviews in df to lower case and overwrite column "reviews" in df. You must use the .str method. (list comprehension is not allowed.)

In [9]:
# Your answer here
df = pd.read_csv('classdata/Sully.csv',encoding='latin-1')
df['reviews'] = df['reviews'].str.lower()
# Check your answer (in the first 10 rows)
df["reviews"][0:10]

0      great movie. great telling based on a trues ...
1      good. fascinating and educational and grippi...
2      i like what eastwood did with the structure....
3      a beautiful and powerful film that brings a ...
4      okay i guess, just not a very compelling cha...
5      a beautifully crafted round for clint eastwo...
6      nicely made drama bends the real events into...
7      by now everyone reading this review would be...
8      no easy feat to tell a story everyone knows ...
9      i spent 14 years of my life as a member of t...
Name: reviews, dtype: object

**3.b. (2 points)** Replace strings in each review as instructed in the following table. Overwrite column "reviews" in df. You can use either .str method or list comprehension.

|     Replace  | By|
-:|:- 
`not good` | `notgood`
`not perfect` | `notperfect`
`not bad`| `notbad`

In practice, this is a way to handle negation. For example, after these replacements, "not good" is distinguished from "good" after tokenization.

In [10]:
# Your answer here
df['reviews'] = df['reviews'].str.replace('not good','notgood')
df['reviews'] = df['reviews'].str.replace('not perfect','notperfect')
df['reviews'] = df['reviews'].str.replace('not bad','notbad')

# Check your answer (in row 3 where "not perfect" occurs)
df["reviews"][3]

'  a beautiful and powerful film that brings a real life situation to the screen. tom hanks stars in this thrilling portrait of heroic airline pilot chesley "sully" sullenberger, re-enacting his incredible successful emergency landing of an airbus a320 full of passengers on the hudson river.this movie has been out for a few years now, but i hadn\'t had the opportunity to watch it until recently. tom hanks is one of those guys where you know his films will probably be pretty good, at the least, and while i didn\'t love this film, it was certainly well made.one thing that really stood out to me was tom hanks performance. i think that he really brought out the psychological stakes that were present here and he gave us a character to care about. he alone brought so much to this film, but he was accompanied by some other great performances - like aaron eckhart.the story is told in a semi non-linear fashion, which i wasn\'t completely on board with. i think the story, overall, was well written, but it wasn\'t my favorite. it felt like we were jumping all around the place and the jumps felt kind of out of place. it felt like there wasn\'t a steady pace and that was my main issue with this film.despite that being said, "sully" is still a great film. it has its issues and it\'s notperfect, but it\'s well made.'

**3.c. (1 points)** Replace all non-digit non-letter characters in each review by whitespace and overwrite column "reviews" in df. You need to use regular expression. Here, "letter" includes non-English letter such as in "entrée". Your solution should not replace any letter in any language but should replace underscore and all spacing characters in "\s" by whitespace.

In [11]:
# Your answer here
df["reviews"] = df["reviews"].str.replace("[^\w\d]|_", ' ', regex=True)
# Check your answer in the first 10 rows
df["reviews"][0:10]

0      great movie  great telling based on a trues ...
1      good  fascinating and educational and grippi...
2      i like what eastwood did with the structure ...
3      a beautiful and powerful film that brings a ...
4      okay i guess  just not a very compelling cha...
5      a beautifully crafted round for clint eastwo...
6      nicely made drama bends the real events into...
7      by now everyone reading this review would be...
8      no easy feat to tell a story everyone knows ...
9      i spent 14 years of my life as a member of t...
Name: reviews, dtype: object

**4. (1 points)** The following string variable **mystr** is created with a sentence from Wikipedia. Use **re.sub** and regular expression to remove (replace with "") all references, which are strings like "[184]", including the brackets. The string "[Wiki]" in the end is added by the instructor intentionally. It is not a reference and your code should not remove it. Overwrite mystr with the output of re.sub. Be careful that "\[" and "\]" are meta characters in regular expression.

In [12]:
import re
mystr="""Positive results from an interim analysis were announced on 18 November 2020[184] 
and published on 10 December 2020 reporting an overall efficacy of 95%.[185][186]
Jul 2020 – Nov 2020,[187][188] Germany, United States. [Wiki]"""
#Your answer here:
mystr = re.sub('\[\d+\]',"",mystr)
#Check your answer:
mystr

'Positive results from an interim analysis were announced on 18 November 2020 \nand published on 10 December 2020 reporting an overall efficacy of 95%.\nJul 2020 – Nov 2020, Germany, United States. [Wiki]'

**5.a. (1 points)** The following code reads the file 'classdata/SuperbowlTweets.csv' into a dataframe **df1**. This dataframe contains 1,000 tweets that hashtaged "superbowl". The three columns of df1 are the screen names of users, the times when the tweets were posted, and the full texts of the tweets.

In [13]:
import pandas as pd
df1 = pd.read_csv('classdata/SuperbowlTweets.csv') 
df1.head()

,screen_name,created_at,full_text
0,Schark22,2021-02-09 23:34:48,Searching for someone who hasn’t made this jok...
1,NolanNorte,2021-02-09 23:34:40,I've shared a class with a #SuperBowl champion...
2,_milkymilkymilk,2021-02-09 23:33:42,you would help me a lot sharing it &lt;3 \n\n@...
3,MsXaviB,2021-02-09 23:33:41,Patrick Mahomes' Mom &amp; Fiancee Call Out Su...
4,NBCDFWSports,2021-02-09 23:33:33,#SuperBowl posts worst viewer ratings since 20...

Use regular expression to replace all urls in each tweet by "**urltoken**" and overwrite column "full_text" by the results of replacement. For simplicity, you can assume a url starts with "https://" followed by at least one "\S" characters.

In [14]:
#Your answer here:
df1["full_text"] = df1["full_text"].str.replace('https://\S+','urltoken',regex=True)
#Check your answer (the first tweet contained an url):
df1["full_text"][0]

'Searching for someone who hasn’t made this joke.. #SuperBowl urltoken'

**5.b. (1 points)** Tokenize all tweets in the full_text column and take the following steps to clean the tokens:

   -  Turn letters to lower cases.
   -  Remove all stop words.
   -  Remove all tokens not longer than 2 characters.
   -  Apply stemming to all tokens.
    
  Count the frequencies of all unique tokens and save the tokens together with their frequencies as a data frame called **dffreq**. Sort  **dffreq** by frequency in a descending order.

In [15]:
# Your answer here:
from collections import Counter              # for word counting
import nltk                                  # for text clearning
import itertools                             # to flatten a list of lists.

# turn all letters to lowercase
df1['full_text'] = df1['full_text'].str.lower()

# Remove all stop words
global_stopwords = nltk.corpus.stopwords.words("english")
words_all = [nltk.word_tokenize(s) for s in df1["full_text"]]
words_all = list(itertools.chain.from_iterable(words_all))
words_all = [s for s in words_all if s not in global_stopwords]

# Remove all tokens not longer than 2 characters
words_all = [s for s in words_all if len(s)>2]

# Apply stemming to all tokens
stemmer = nltk.stem.SnowballStemmer("english")
words_all = [stemmer.stem(s) for s in words_all]

# Count the frequencies of all unique tokens 
counts = Counter(words_all)
dffreq = pd.DataFrame(counts.most_common(), columns=['Term', 'Frequency'])
dffreq.sort_values(by = 'Frequency',ascending=False,inplace=True)
dffreq.reset_index(inplace=True,drop=True)

# Check your answer (in the first 10 rows)
dffreq.head(10)

        Term  Frequency
0  superbowl       1022
1   urltoken        953
2        nfl        159
3       bowl        153
4      super        153
5      bradi        131
6   tombradi        124
7    million        107
8        amp         94
9       like         90

**5.c. (1 points)** Ampersands are escaped as the literal string '\&amp;' in tweet texts. That's why "amp" has a high frequency. Repeat all steps of 5.b. but add "amp" to the stop word list this time so it can be removed. Update your **dffreq**.

In [16]:
# Your answer here:                   

# turn all letters to lowercase
df1['full_text'] = df1['full_text'].str.lower()

# Remove all stop words\
global_stopwords = nltk.corpus.stopwords.words("english")
global_stopwords = global_stopwords+['amp']
words_all = [nltk.word_tokenize(s) for s in df1["full_text"]]
words_all = list(itertools.chain.from_iterable(words_all))
words_all = [s for s in words_all if s not in global_stopwords]

# Remove all tokens not longer than 2 characters
words_all = [s for s in words_all if len(s)>2]

# Apply stemming to all tokens
stemmer = nltk.stem.SnowballStemmer("english")
words_all = [stemmer.stem(s) for s in words_all]

# Count the frequencies of all unique tokens 
counts = Counter(words_all)
dffreq = pd.DataFrame(counts.most_common(), columns=['Term', 'Frequency'])
dffreq.sort_values(by = 'Frequency',ascending=False,inplace=True)
dffreq.reset_index(inplace=True,drop=True)


# Check your answer (in the first 10 rows)
dffreq.head(10)

        Term  Frequency
0  superbowl       1022
1   urltoken        953
2        nfl        159
3       bowl        153
4      super        153
5      bradi        131
6   tombradi        124
7    million        107
8       like         90
9      peopl         86

**5.d. (1 points)** It looks like the tokens "tombradi", "bradi", and "tom" (possibly even more) all come from the name Tom Brady. ("brady" is stemmed into "bradi") Suppose you have to count them as the same token. What would you do? No need to write any code. Just briefly explain your strategy in words in the text cell below.

Your answer: I would look to replace Tom Brady and the variations of his name with the same token tombrady like we had in prior problems in the homework. We could do this using the same method that we used to deal with negation, cities (e.g. iowa city to iowacity), or conjunctions (e.g. can't to can not). To do this we would do something similar to the below python code.

```python

df['full_text'] = df['full_text'].str.replace('tom brady','tombrady')
df['full_text'] = df['full_text'].str.replace('brady','tombrady')
df['full_text'] = df['full_text'].str.replace('tom','tombrady')


```

This would replace the tokens with a common token that would convey what they are actually refering to which would provide a more accurate frequency count. The only bad part would be if the token was refering to a different "tom". However this strategy would work well with either "brady" or "tom brady".