# Exercise 3

1.a The following code creates a list of sentences. Apply the sentiment analyzers from AFINN, TextBlob, and VADER to each sentence. Store the sentiment scores together with the sentences in a four-column data frame called **df1**. The columns are named "text", "AFINN", "TextBlob", and "VADER". Column "text" contains the original sentences and the other columns store different sentiment scores.

In [1]:
sentences = ["VADER is smart, handsome, and funny.", # positive sentence example
    "VADER is smart, handsome, and funny!", # punctuation emphasis handled correctly (sentiment intensity adjusted)
    "VADER is very smart, handsome, and funny.",  # booster words handled correctly (sentiment intensity adjusted)
    "VADER is VERY SMART, handsome, and FUNNY.",  # emphasis for ALLCAPS handled
    "VADER is VERY SMART, handsome, and FUNNY!!!",# combination of signals - VADER appropriately adjusts intensity
    "VADER is VERY SMART, really handsome, and INCREDIBLY FUNNY!!!",# booster words & punctuation make this close to ceiling for score
    "The book was good.",         # positive sentence
    "The book was kind of good.", # qualified positive sentence is handled correctly (intensity adjusted)
    "The plot was good, but the characters are uncompelling and the dialog is not great.", # mixed negation sentence
    "A really bad, horrible book.",       # negative sentence with booster words
    "At least it isn't a horrible book.", # negated negative sentence with contraction
    ":) and :D",     # emoticons handled
    "ðŸ˜­",            # a crying emoji handled
    "Today sux",     #  negative slang handled
    "Today sux!",    #  negative slang with punctuation emphasis handled
    "Today SUX!",    #  negative slang with capitalization emphasis
    "Today kinda sux! But I'll get by, lol" # mixed sentiment example with slang and constrastive conjunction "but"
]

In [5]:
#Your answer here
import pandas as pd
from afinn import Afinn
from textblob import TextBlob
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

# Create initial dataframe with text
df1=pd.DataFrame(sentences,columns=['text'])

# Initialize AFINN analyzer
afinn = Afinn(emoticons=True)

# Initialize VADER
analyzer = SentimentIntensityAnalyzer()

df1['AFINN'] = [afinn.score(s) for s in df1.text]
df1['TextBlob'] = [TextBlob(s).sentiment.polarity for s in df1.text]
df1['VADER'] = [analyzer.polarity_scores(s)['compound'] for s in df1.text]


#Check you answer
df1

                                                 text  AFINN  TextBlob   VADER
0                VADER is smart, handsome, and funny.    8.0  0.321429  0.8316
1                VADER is smart, handsome, and funny!    8.0  0.342262  0.8439
2           VADER is very smart, handsome, and funny.    8.0  0.342857  0.8545
3           VADER is VERY SMART, handsome, and FUNNY.    8.0  0.342857  0.9227
4         VADER is VERY SMART, handsome, and FUNNY!!!    8.0  0.422284  0.9342
5   VADER is VERY SMART, really handsome, and INCR...    8.0  0.422284  0.9469
6                                  The book was good.    3.0  0.700000  0.4404
7                          The book was kind of good.    3.0  0.650000  0.3832
8   The plot was good, but the characters are unco...    6.0  0.150000 -0.7042
9                        A really bad, horrible book.   -6.0 -0.850000 -0.8211
10                 At least it isn't a horrible book.   -3.0 -0.650000  0.4310
11                                          :) and :D    2.0  0.750000  0.7925
12                                                  ðŸ˜­    0.0  0.000000 -0.4767
13                                          Today sux    0.0  0.000000 -0.3612
14                                         Today sux!    0.0  0.000000 -0.4199
15                                         Today SUX!    0.0  0.000000 -0.5461
16              Today kinda sux! But I'll get by, lol    3.0  0.800000  0.5249

1.b Compare the scores in df1. Which methods adjust score based on intensifiers? Which methods adjust score based on capitalization? What evidences from df1 is your answer based on?

Your answer here:
TextBlob and Vader both adjusted scores for intensifiers. For example the sentance 'VADER is smart, handsome, and funny!' and 'VADER is very smart, handsome, and funny." both came out to similar scores but the one with the intensifier very scored higher for both even though the punctuation changed from a "!" to ".". With this change we would have expected a reduction in the scores for both analyzers. However, this was not the case because of the use of the word "Very Smart" in the second sentance. This changed a reduction in sentiment to a positive change in sentiment. 

Vader is the only one to adjust for capitalization. This can be seen in the sentance 'VADER is very smart, handsome, and funny." and "VADER is VERY SMART, handsome, and FUNNY." The only sentiment analyzer that produced a different score was Vader and the only change in the sentance was the capitalization of VERY SMART and FUNNY.

2.a. The following code load a csv file "twitter2019.csv" into a dataframe **df2**, This file contains the tweets that calls out the user names â€˜@RockwellCollinsâ€™, â€˜@Transamericaâ€™, â€˜@ACTâ€™, â€˜@MedTouchâ€™, â€˜@UnityPointCRâ€™, â€˜@KirkwoodCCâ€™, â€˜@verizonâ€™ and â€˜@BankofAmericaâ€™. 

Use **re** library and regular expression to remove all urls and all @users (like '@UnityPointCR') in the tweets. For simplcity, you may use "http\S+" to represent urls and use "@\S+" to represent all @users. Overwrite column "text" with the cleaned tweets.

In [6]:
import pandas as pd
df2=pd.read_csv('classdata/twitter2019.csv',encoding="latin-1")
del df2["Unnamed: 0"]
df2['created_at']=pd.to_datetime(df2['created_at'])
df2.head()

,screen_name,text,created_at,twittername
0,TMo4Cards,@JuanGeuse You should scoot to The Ville and t...,2019-04-14 23:59:04,@RockwellCollins
1,ohmystresswang,"<U+0001F451> hello, this is ParisÂ’ Notre Dame!...",2019-04-14 23:58:40,@RockwellCollins
2,got74evuh,"<U+0001F451> hello, this is ParisÂ’ Notre Dame!...",2019-04-14 23:57:28,@RockwellCollins
3,ndipanema,Alguns trechinhos da noite artÃ­stica da Gincan...,2019-04-14 23:56:47,@RockwellCollins
4,ndipanema,Alguns trechinhos da noite artÃ­stica da Gincan...,2019-04-14 14:03:47,@RockwellCollins

In [7]:
#Your answer here:
df2['text'] = df2['text'].str.replace("http\S+",'urlsTag',regex=True)
df2['text'] = df2['text'].str.replace("@\S+",'usersTag',regex=True)
#Check your answer:
df2.head()

,screen_name,text,created_at,twittername
0,TMo4Cards,usersTag You should scoot to The Ville and tai...,2019-04-14 23:59:04,@RockwellCollins
1,ohmystresswang,"<U+0001F451> hello, this is ParisÂ’ Notre Dame!...",2019-04-14 23:58:40,@RockwellCollins
2,got74evuh,"<U+0001F451> hello, this is ParisÂ’ Notre Dame!...",2019-04-14 23:57:28,@RockwellCollins
3,ndipanema,Alguns trechinhos da noite artÃ­stica da Gincan...,2019-04-14 23:56:47,@RockwellCollins
4,ndipanema,Alguns trechinhos da noite artÃ­stica da Gincan...,2019-04-14 14:03:47,@RockwellCollins

2.b Apply VADER sentiment analyzer to each tweet. Save the sentiment score in a new column of **df2** called VADER.

In [8]:
#Your answer here:
df2['VADER'] = [analyzer.polarity_scores(s)['compound'] for s in df2.text]
#Check your answer:
df2.head()

,screen_name,text,created_at,twittername,VADER
0,TMo4Cards,usersTag You should scoot to The Ville and tai...,2019-04-14 23:59:04,@RockwellCollins,0.0000
1,ohmystresswang,"<U+0001F451> hello, this is ParisÂ’ Notre Dame!...",2019-04-14 23:58:40,@RockwellCollins,0.4468
2,got74evuh,"<U+0001F451> hello, this is ParisÂ’ Notre Dame!...",2019-04-14 23:57:28,@RockwellCollins,0.4468
3,ndipanema,Alguns trechinhos da noite artÃ­stica da Gincan...,2019-04-14 23:56:47,@RockwellCollins,0.0000
4,ndipanema,Alguns trechinhos da noite artÃ­stica da Gincan...,2019-04-14 14:03:47,@RockwellCollins,0.0000

2.c According to VADER score, what is the most negative tweet in the dataset? *Hint: You may sort the df2 in an ascending order in column VADER, reset row index, and return the first tweet. See "List and Dataframe in Python.ipynb" if you forget how to sort a data frame and reset row index.*

In [15]:
#Your answer here:
df2.sort_values(by='VADER',ascending=True,inplace=True)
df2.reset_index(inplace=True,drop=True)
#Check your answer:
df2.text[0]

'Drama is stupid. If you spread rumors you\x92re sad with your life. If you\x92re problematic, you hate yourself. If you start shit you\x92re just a weird pathetic person, you know who you are &amp; you look like eagor from hunchback of Notre Dame.'