# Quiz 8
**5 Points**

Is each of the following statement true or false? Type "True" or "False" in the provided text cells.

1. (1 point) In a text network, the edge with a larger weight is generally longer than the edge with a smaller weight.

You answer: False

Edge with a larger weight tend to be shorter in general

2. (1 point) In a two-model text network, the edges are weighted by their term frequencies in documents instead of their TFIDF scores.

Your answer: False

Edge is weighted by TFIDF of the word in the document

3. (1 point) In a two-model text network, a node of word has a high score of betweeness if the word is connected to many documents in the same cluster.

Your answer: False 

Betweeness score is higher if the node connects different clusters or is the hub of the network.

4. (2 points) The following code creates two data frames, **df1** and **df2**, both of which have a column called "**a**". Merge **df1** and **df2** into a new data frame called **df3** on column "a" so that **df3** contains three columns, "a", "b", and "c" and column "a" in **df3** contains the intersection of columns "a" of **df1** and **df2**.

In [3]:
import pandas as pd
df1 = pd.DataFrame({'a': ['foo', 'bar', 'inn'], 'b': [1, 2, 3]})
df2 = pd.DataFrame({'a': ['foo', 'baz', 'inn'], 'c': [4, 5, 6]})
display(df1)
display(df2)

     a  b
0  foo  1
1  bar  2
2  inn  3

     a  c
0  foo  4
1  baz  5
2  inn  6

In [4]:
#Your answer here:
import pandas as pd
df3 = pd.merge(df1, df2, on="a")

#Check your answer:
df3

     a  b  c
0  foo  1  4
1  inn  3  6