# Exercise 9

1. Scrape the information of all lawn mowers from https://www.productreview.com.au/c/lawn-mowers. For this question, you only need to obtain the results on the first page. For each mower, you need to extract its name, rating, price and the URL of its image. Save them as four lists called **products**, **ratings**, **prices** and **imageURLs**. Then save these four lists as one four-column data frame called **df**. Name the columns as way you like. 

    If your solution is correct, you should obtain exactly 20 products on this page.

In [50]:
#Your answer here:
import requests
from lxml import html
import pandas as pd


url = 'https://www.productreview.com.au/c/lawn-mowers'
page = requests.get(url)
root = html.fromstring(page.content)
products = [s.text_content() for s in root.xpath('//div[1]/div/div[1]/div[1]/div[1]/div[1]/h3/a')]
ratings = [s.text_content() for s in root.xpath('//div[1]/div/div[1]/div[1]/div[1]/div[2]/span/span[1]')]
prices = [s.text_content().split()[-1] for s in root.xpath('//div[1]/div/div[1]/div[2]/h4/span')]
imageURL = [s.attrib['src'] for s in root.xpath('/html/body/div[1]/div[2]/div/div/div/div/div/div/div/div/div/div/div/div/div[1]/a/img')]
df = pd.DataFrame({'Product': products, 'Rating': ratings, 'Price':prices,'imageURLs':imageURL}) 


#Check your answer

df.head()

,Product,Rating,Price,imageURLs
0,Razorback All Terrain,4.5,"$23,490.00",https://cdn.productreview.com.au/resize/listin...
1,Honda HRU19,3.9,$939.00,https://cdn.productreview.com.au/resize/listin...
2,Victa Classic Cut,3.7,$419.00,https://cdn.productreview.com.au/resize/listin...
3,Masport Bunnings 490 4'n1,4.2,$599.00,https://cdn.productreview.com.au/resize/listin...
4,AS-Motor AS 940 Sherpa 4WD,4.8,"$27,000.00",https://cdn.productreview.com.au/resize/listin...

If you are curious about how to download the images with the URLs, try the command below. It downloads the first image in your **df** and have it as 'image0.jpg'. It is not hard to download all images using a for loop. Since processing images data is not our focus, we will skip this step.

In [33]:
img_data = requests.get(df["imageURLs"][0]).content
with open('image0.jpg', 'wb') as handler:
    handler.write(img_data)

2. Repeat question 1, but this time you must scrape the information of mowers on the first five pages from https://www.productreview.com.au/c/lawn-mowers. For each mower, you need to extract its name, rating, and the URL of its image. (Price is not needed this time because some mowers do not have a price, which makes thing complicated.) Save them as three lists called **products_all**, **ratings_all** and **imageURLs_all**. Then save these three lists as one three-column data frame called **df_all**. Name the columns as way you like. 

    *Hint: The URL of each page has three segments. For example, the second page is https://www.productreview.com.au/c/lawn-mowers?page=2#search-results You can create this URL by concatenating the following three segements:*
         https://www.productreview.com.au/c/lawn-mowers?page=
         
         2
         
         #search-results
         
      Only the second segement changes with the for-loop. Don't forget to pause for 1~2 seconds between pages.

In [45]:
#Your answer here:
import time
from IPython.display import display, clear_output
baseURL = 'https://www.productreview.com.au/c/lawn-mowers?page='
endURL = '#search-results'
path1 = '//div[1]/div/div[1]/div[1]/div[1]/div[1]/h3/a'
path2 = '//div[1]/div/div[1]/div[1]/div[1]/div[2]/span/span[1]'
path3 = '//div[1]/a/img'
products_all=[]
ratings_all=[]
imageurl_all=[]
for i in range(1,6):
    URL = baseURL+str(i)+endURL
    page=requests.get(URL)
    root=html.fromstring(page.content)
    products = [s.text_content() for s in root.xpath(path1)]
    ratings = [s.text_content() for s in root.xpath(path2)]
    imageurl = [s.attrib['src'] for s in root.xpath(path3)]
    imageurl = imageurl[1:]
    products_all.extend(products)
    ratings_all.extend(ratings)
    imageurl_all.extend(imageurl)
    time.sleep(2)
    clear_output()
    print(URL)
    
df_all = pd.DataFrame({'Product': products_all, 'Rating': ratings_all, 'imageURLs':imageurl_all})    
    
#Check your answer
df_all.head()

https://www.productreview.com.au/c/lawn-mowers?page=5#search-results

,Product,Rating,imageURLs
0,Razorback All Terrain,4.5,https://cdn.productreview.com.au/resize/listin...
1,Honda HRU19,3.9,https://cdn.productreview.com.au/resize/listin...
2,Victa Classic Cut,3.7,https://cdn.productreview.com.au/resize/listin...
3,Masport Bunnings 490 4'n1,4.2,https://cdn.productreview.com.au/resize/listin...
4,AS-Motor AS 940 Sherpa 4WD,4.8,https://cdn.productreview.com.au/resize/listin...

In [51]:
df_all.to_csv('tractors.csv')