# Homework 5 | BAIS:6100

1. Scrape the first page on https://iowacity.craigslist.org/search/cta to obtain the headline, price, and date of each post. You also need to obtain the URL link behind each headline, which is the "href" attribute of each headline. Save these four sequences of data from scraping in four lists called **headlines**, **prices**, **dates**, and **urls**, respecitvely. Then convert these four lists into a data frame of four columns called **df**. You can name the columns anyway you like.

    Due to the special structure of this page, you must "Copy Full XPath" instead of just "Copy XPath" from the web insepctor. 

    *Hint: If it is done correctly, you should get 120 results from the page.*

In [2]:
#Your answer here:
import requests
from lxml import html
import pandas as pd

URL = 'https://iowacity.craigslist.org/search/cta'
page = requests.get(URL) #Download the HTML file through URL.
root = html.fromstring(page.content) #Parse the HTML source code and create the tree object.
#/html/body/section/form/div[4]/ul/li[1]/div/h3/a
#/html/body/section/form/div[4]/ul/li[2]/div/h3/a
#/html/body/section/form/div[4]/ul/li[3]/div/h3/a
headlines = [s.text_content() for s in root.xpath('/html/body/section/form/div[4]/ul/li/div/h3/a')]
urls = [s.attrib['href'] for s in root.xpath('/html/body/section/form/div[4]/ul/li/div/h3/a')]
#/html/body/section/form/div[4]/ul/li[1]/div/span[2]/span[1]
#/html/body/section/form/div[4]/ul/li[2]/div/span[2]/span[1]
#/html/body/section/form/div[4]/ul/li[3]/div/span[2]/span[1]
prices = [s.text_content() for s in root.xpath('/html/body/section/form/div[4]/ul/li/div/span[2]/span[1]')]
#/html/body/section/form/div[4]/ul/li[1]/div/time
#/html/body/section/form/div[4]/ul/li[2]/div/time
#/html/body/section/form/div[4]/ul/li[3]/div/time
dates = [s.attrib['datetime'] for s in root.xpath('/html/body/section/form/div[4]/ul/li/div/time')]

df = pd.DataFrame({'headlines':headlines,'prices':prices,'dates':dates,'urls':urls})


#Check your answer
print(df.shape)
df.head()

(120, 4)

,headlines,prices,dates,urls
0,2001 F-150,"$5,800",2022-07-17 09:48,https://iowacity.craigslist.org/cto/d/iowa-cit...
1,2021 DODGE RAM 4X4 1owner,"$60,850",2022-07-17 09:26,https://iowacity.craigslist.org/cto/d/clinton-...
2,chevy pickup,"$4,000",2022-07-16 19:13,https://iowacity.craigslist.org/cto/d/iowa-cit...
3,Lincoln Continental,"$8,000",2022-07-16 18:06,https://iowacity.craigslist.org/cto/d/north-li...
4,Economical Car,"$3,520",2022-07-16 14:40,https://iowacity.craigslist.org/cto/d/coralvil...

2. Use a for-loop to scrape all pages on https://iowacity.craigslist.org/search/cta to obtain the headline, price, and date of each post. You also need to obtain the URL link behind each headline, which is the "href" attribute of each headline. Save these four sequences of data from scraping in four lists called **headlines_all**, **prices_all**, **dates_all** and **urls_all**, respecitvely. Then convert these four lists into a data frame of four columns called **df_all**. You can name the columns anyway you like. Although there are only two pages, you still need to use a for loop.

    *Hint: Page 1 is https://iowacity.craigslist.org/search/cta?s=0
    Page 2 is
    https://iowacity.craigslist.org/search/cta?s=120  How does the URL change?*

In [4]:
#Your answer here:
import time
from IPython.display import display, clear_output

baseURL = 'https://iowacity.craigslist.org/search/cta?s='
path1 = '/html/body/section/form/div[4]/ul/li/div/h3/a'
path2 = '/html/body/section/form/div[4]/ul/li/div/span[2]/span[1]'
path3 = '/html/body/section/form/div[4]/ul/li/div/time'
headlines_all = []
prices_all = []
dates_all = []
urls_all = []
for i in range(2):
    URL = baseURL + str(120*i)
    page = requests.get(URL)
    root = html.fromstring(page.content)
    headlines = [s.text_content() for s in root.xpath(path1)]
    urls = [s.attrib['href'] for s in root.xpath(path1)]
    prices = [s.text_content() for s in root.xpath(path2)]
    dates = [s.attrib['datetime'] for s in root.xpath(path3)]
    headlines_all.extend(headlines)
    prices_all.extend(prices)
    dates_all.extend(dates)
    urls_all.extend(urls)
    time.sleep(2)
    clear_output()
    print(URL)
    if len(headlines)==0:
        break

df_all = pd.DataFrame({'headlines':headlines_all,
                       'prices':prices_all,
                       'dates':dates_all,
                       'urls':urls_all})      

#Check your answer
print(df_all.shape)
df_all.head()

https://iowacity.craigslist.org/search/cta?s=120
(231, 4)

,headlines,prices,dates,urls
0,2001 F-150,"$5,800",2022-07-17 09:48,https://iowacity.craigslist.org/cto/d/iowa-cit...
1,2021 DODGE RAM 4X4 1owner,"$60,850",2022-07-17 09:26,https://iowacity.craigslist.org/cto/d/clinton-...
2,chevy pickup,"$4,000",2022-07-16 19:13,https://iowacity.craigslist.org/cto/d/iowa-cit...
3,Lincoln Continental,"$8,000",2022-07-16 18:06,https://iowacity.craigslist.org/cto/d/north-li...
4,Economical Car,"$3,520",2022-07-16 14:40,https://iowacity.craigslist.org/cto/d/coralvil...

3. Save **df_all** into a CSV file called "IowaCity_Cars.csv". Do not save the row indexes.

In [5]:
#Your answer here:
df_all.to_csv("IowaCity_Cars.csv",index=False)